*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: rgb(248, 240, 227);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo img{
    height: 75;
    width: 75;
    transition: 0.25s;
}
.logo img:hover{
    height: 35%;
    width: 35%;
    transition: 0.25s;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: grey;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.links{
    display: flex;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.links ul li {
    display: inline-block;
    padding: 10px 0px;
    list-style: none;
}
.links ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
.links ul li a .icon {
    position: relative;
    top: 25%;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
.links ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}
.links ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
.links ul li a:hover:before {
    top: 0;
}
.links ul li:nth-child(1) a:before{
    background: #333333;
}
.links ul li:nth-child(2) a:before{
    background: #55acee;
}
.links ul li:nth-child(3) a:before {
    background: #0077b5;
}
.links ul li:nth-child(4) a:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
nav .fa-solid{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .logo img{
        display: block;
        height: 75;
        width: 75;
    }
    .logo img:hover{
        display: block;
        height: 75;
        width: 75;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: white;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.3s;
    }
    nav .fa-solid{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .links ul li a {
        width: 50px;
        height: 50px;
        background-color: #fff;
        text-align: center;
        line-height: 80px;
        font-size: 24px;
        margin: 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 3px solid #fff;
        z-index: 1;
    }
}